<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dunder Mifflin</title>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/vendor/js/jquery-3.3.1.min.js"></script>
  <script src="/vendor/js/jquery-ui.js"></script>
  <script src="/vendor/js/popper.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>  
  <script src="/vendor/js/boot-pagination.js"></script>  
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/css/magnific-popup.css">
  <link rel="stylesheet" href="/vendor/css/jquery-ui.css">
  <link rel="stylesheet" href="/vendor/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/css/aos.css">
  <link rel="stylesheet" href="/vendor/css/style.min.css">
  <link rel="icon" 
      type="image/svg" 
      href="//images.ctfassets.net/rjgg4beyxfzs/7HiEKdZrHwR128vTV4h5BN/338b7f9d259c20bee7bfa4eb0d0a2ef0/Dunder_Mifflin__Inc.svg">

</head>

<body>
  {{>header}}

  {{{body}}}

  {{>footer}}
  
  <script src="/vendor/js/owl.carousel.min.js"></script>
  <script src="/vendor/js/jquery.magnific-popup.min.js"></script>
  <script src="/vendor/js/aos.js"></script>
  <script src="/vendor/js/app.js"></script>
  <script src="/vendor/js/main.js"></script>
</body>

</html>